#root {
  margin: 0 auto;
  text-align: center;
}

.card-voting-container {
  display: flex;
  justify-content: center;
  margin-top: 25px;
  align-items: center;
  user-select: none;
  flex-direction: row;
}

.card-vote-container {
  display: flex;
  flex-direction: column;
}

.card-empty {
  background-color: #e8e9ea;
  border: 1px solid #00000000;
  cursor: default;
}

.received-card {
  cursor: default;
}

.game-name {
  font-size: 1.6rem;
  font-weight: 700;
  position: absolute;
  left: 7%;
  top: 5%;
  padding: 0.8rem;
  border-radius: 5px;
  transition: all 0.3s;
  user-select: none;
}

.game-username {
  font-size: 1.6rem;
  font-weight: 700;
  position: absolute;
  right: 10%;
  top: 5%;
  padding: 0.8rem;
  border-radius: 5px;
  transition: all 0.3s;
  user-select: none;
}

.game-name:hover {
  transition: all 0.3s;
  background-color: #f1f1f1;
  cursor: pointer;
}